<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2 class="content-top">Create a new user or <%= link_to 'go back', root_path %></h2>
    <%= form_for :admin do |f| %>
      <div class="left-indent">
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.text_field :email, class: "form-control" %>
        </div>
      </div>
      <h3>Email Preferences</h3>
      <div class="left-indent">
        <div class="checkbox">
          <label><%= f.check_box :marketing, class: "checkbox" %> Marketing</label>
        </div>
        <div class="checkbox">
          <label><%= f.check_box :articles, class: "checkbox" %> Articles</label>
        </div>
        <div class="checkbox">
          <label><%= f.check_box :digest, class: "checkbox" %> Digest</label>
        </div>
        <div class="checkbox">
          <label for="all_email_preferences">
            <input type="checkbox" id="select_all">All Email Preferences
          </label>
        </div>
      </div>
      <br>
      <div class="actions">
        <%= f.submit "Create", class: "btn btn-primary btn-sm" %>
      </div>
    <% end %>
  </div>
</div>
