<h1>User: <%= @user.name %></h1>
<p>Email: <%= @user.email %></p>

<h3>Email Preferences</h3>

<%= form_for(@user, {:url => :email_preferences, :method => :put}) do |f| %>
  <div class="field">
      <%= f.check_box :marketing %>
      <%= f.label "Marketing" %>
      <%= f.check_box :articles %>
      <%= f.label "Articles" %>
      <%= f.check_box :digest %>
      <%= f.label "Digest" %>
      <input type="checkbox" onclick="selectAll()" id="all_email_preferences">
      <label for="all_email_preferences">All Email Preferences</label>
      <input type="hidden" name="nonce" value="<%= @nonce %>">
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Update", class: "button small radius" %>
    <%= flash[:success] if flash[:success] %>
    <%= flash[:alert] if flash[:alert] %>
  </div>
<% end %>
