<h1>User: <%= @user.name %></h1>
<p>Email: <%= @user.email %></p>

<h3>Email Preferences</h3>

<%= form_for(@user) do |f| %>
  <div class="field">
      <%= f.check_box :marketing %>
      <%= f.label "Marketing" %>
  </div>
  <div class="field">
      <%= f.check_box :articles %>
      <%= f.label "Articles" %>
  </div>
  <div class="field">
      <%= f.check_box :digest %>
      <%= f.label "Digest" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Update", class: "button small radius" %>
    <%= flash[:success] unless flash[:success].blank? %>
    <%= flash[:alert] unless flash[:alert].blank? %>
  </div>
<% end %>
