<div class="row justify-content-center">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h1>User: <%= @user.name %></h1>
    <p>Email: <%= @user.email %></p>

    <h3>Email Preferences</h3>

    <%= form_for(@user, {:url => :email_preferences, :method => :put}) do |f| %>
      <div class="field">
        <%= f.check_box :marketing, class: "checkbox", name:"check[]" %>
        <%= f.label "Marketing" %>
      </div>
      <div class="field">
        <%= f.check_box :articles, class: "checkbox", name:"check[]" %>
        <%= f.label "Articles" %>
      </div>
      <div class="field">
        <%= f.check_box :digest, class: "checkbox", name:"check[]" %>
        <%= f.label "Digest" %>
      </div>
      <div class="field">
        <input type="checkbox" id="select_all" name="check[]">
        <label for="all_email_preferences">All Email Preferences</label>
      </div>
      <br>
      <div class="actions">
        <%= f.submit "Update", class: "btn btn-outline-primary btn-sm" %>
        <%= flash[:success] if flash[:success] %>
        <%= flash[:alert] if flash[:alert] %>
      </div>
    <% end %>
  </div>
  <div class="col-md-4"></div>
</div>
