<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="content-top">Welcome <%= @user.name %>!</h1>
    <p>Your email address is: <%= @user.email %></p>
    <h3>Email</h3>
    <p>Email is a critical communications channel for The Information. We email
      you when an article publishes, we send a digest of the week's
      news every Saturday that you can catch up on anything you may have
      missed, and we also periodically send marketing messages with special
      offers.</p>
      <p><b>Select which email preferences you'd like:</b></p>

    <%= form_for(@user, {:url => :email_preferences, :method => :put, :html => {:class => "left-indent"}}) do |f| %>
      <div class="checkbox">
        <label><%= f.check_box :marketing, class: "checkbox" %> Marketing</label>
      </div>
      <div class="checkbox">
        <label><%= f.check_box :articles, class: "checkbox" %> Articles</label>
      </div>
      <div class="checkbox">
        <label><%= f.check_box :digest, class: "checkbox" %> Digest</label>
      </div>
      <div class="checkbox">
        <label for="all_email_preferences">
          <input type="checkbox" id="select_all">All Email Preferences
        </label>
      </div>
      <br>
      <div class="actions">
        <%= f.submit "Update", class: "btn btn-primary btn-sm" %>
        <%= flash[:success] if flash[:success] %>
        <%= flash[:alert] if flash[:alert] %>
      </div>
    <% end %>
  </div>
</div>
